* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}
.rental-car-container {
  text-align: center;
  width: 320px;
  margin: 152px auto;
  background-color: white;
  border-radius: 20px;
  padding-top: 16px;
}
.blue {
  background-color: #2c7dfa;
  padding: 64px;
  width: 288px;
  height: 288px;
  margin: auto;
  border-radius: 10px;
}
img {
  height: 160px;
  width: 160px;
}
/* h1 {
  margin: 24px;
} */
.text {
  padding: 24px 16px 40px 16px;
}
p {
  padding-top: 16px;
  font-size: 15px;
  font-weight: 400px;
  color: #7d889e;
}
h1 {
  font-size: 22px;
  color: #1f314f;
}
